{{#if user}}
  <div class="container my-3">
    <div>
      <h1 class="d-flex justify-content-center">
        Confirmar eliminar tarea personal
      </h1>
    </div>
    <div class="row row-cols-3">
      <div class="col-md-3">
        
      </div>
      <div class="col-12 col-md-6">
        <div class="container my-3">
          {{!-- <form action="" method=""> --}}
            <div class="mb-3">
              <label for="" class="form-label">Username</label>
              <input type="text" class="form-control" id="" aria-describedby="" name="userName" disabled value="{{user.username}}">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Email</label>
              <input type="email" class="form-control" id="" name="email" disabled value="{{user.email}}">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Password</label>
              <input type="password" class="form-control" id="" aria-describedby="" name="password" disabled value="{{user.password}}">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Fecha</label>
              <input type="text" class="form-control" id="" name="fecha" disabled value="{{moment date=user.fecha_creacion format="DD-MM-YYYY"}}">
            </div>
            <button type="" class="btn btn-primary" onclick="deleteUser('{{user.id}}')">Eliminar</button>
          {{!-- </form> --}}
        </div>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
  </div>
{{/if}}

{{#unless user}}
  <div>
    <h1 class="d-flex justify-content-center">
      id de tarea personal incorrecto
    </h1>
  </div>
{{/unless}}

